
<section class="gt_section-403307" data-name="Top Bar">
   <div class="gt_topbar">
      <div class="gt_container">
         <div class="gt_flex gt_justify-c-between gt_align-i-center gt_topbar-content">
            <div class="gt_flex gt_align-i-center gt_social">
               
               
               
              
               
            </div>
            <div class="gt_topbar-text"> 
               <span>FREE SHIPPING WORLDWIDE ON ORDERS OVER $50</span>
            </div>
            <div class="gt_flex gt_justify-c-right gt_info">
               <div class="gt_topbar_currency">
                  <div hook-currency="true"></div>
               </div>
               
               <a href="/account/login">
                 <div class="gt_topbar-item gt_info__text">
                    <span class="gt_flex gt_justify-c-center gt_align-i-center">
                      <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M7.99986 1.75C6.66831 1.75 5.58887 2.82944 5.58887 4.16099C5.58887 5.49255 6.66831 6.57199 7.99986 6.57199C9.33142 6.57199 10.4109 5.49255 10.4109 4.16099C10.4109 2.82944 9.33142 1.75 7.99986 1.75ZM4.08887 4.16099C4.08887 2.00101 5.83988 0.25 7.99986 0.25C10.1598 0.25 11.9109 2.00101 11.9109 4.16099C11.9109 6.32098 10.1598 8.07199 7.99986 8.07199C5.83988 8.07199 4.08887 6.32098 4.08887 4.16099Z" fill="#FFFFFF"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M1.53271 15C1.53271 11.4248 4.42478 8.53276 7.99999 8.53276C11.5752 8.53276 14.4673 11.4248 14.4673 15C14.4673 15.4143 14.1315 15.75 13.7173 15.75H2.28271C1.8685 15.75 1.53271 15.4143 1.53271 15ZM3.08877 14.25H12.9112C12.5505 11.8601 10.4918 10.0328 7.99999 10.0328C5.5082 10.0328 3.44951 11.8601 3.08877 14.25Z" fill="#FFFFFF"/>
                      </svg>
                    </span>
                    <span class="gt_topbar-item-text">
                      Track Order
                    </span>
                 </div>
               </a>
               
            </div>
         </div>
      </div>
   </div>
</section>

<section class="gt_section-403344 " data-name="Header">
    <div class="gt_main-nav">
        <header class="gt_site-header {% if template.name != 'index' %}fixheader{% endif %}  " id="header">
        <div class="gt_container">
            <h1 class="gt_logo">
              <a href="/" class="img1"> 
              
              <img class="gt_logo_img " src="https://cdn.shopify.com/s/files/1/0281/3971/6694/t/3/assets/JqOCqDucjK-unpillow-clip-trans-png.png?v=1587070706" alt="unbeatable sleep.  unPillow.">
              
              </a>
              <a href="/" class="img2">
                <img class="gt_logo_img " src="https://cdn.shopify.com/s/files/1/0281/3971/6694/t/3/assets/JqOCqDucjK-unpillow-clip-trans-png.png?v=1587070706" alt="Logo Image Alt Text">
              </a>
            </h1>
            <div class="medium-up--hide gt_show-menu gt_toggle-menus">
              <div class="gt_toggle-menus-lines">
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
                  <span></span>
              </div>
            </div>
            <div class="gt_header-navs">
            <div class="gt_header-tools">
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">    
                <li class="active">
                  <a class="gt_menu" href="/pages/about">
                      <div class="gt_fix_menu">
                        <span>
                         WHY UNPILLOW
                        </span>
                        
                      </div>
                    </a>
                    
                </li>
                 
                 
                 
                 
                 <li class="active">
                    
                    
                    
                    
                    <a class="gt_menu" href="/pages/about">
                      <div class="gt_fix_menu">
                        <span>
                         REVIEWS
                        </span>
                        
                      </div>
                    </a>
                    
                 </li>
                 
                 
                 
                 
                 <li class="active">
                    
                    
                    
                    
                    <a class="gt_menu" href="/collections/unpillow">
                      <div class="gt_fix_menu">
                        <span>
                         SHOP
                        </span>
                        
                      </div>
                    </a>
                    
                 </li>
                 
                 
              </ul>
            </div>
            <ul class="gt_tool">
              
                <li class="gt_search">
                    <a class="gt_show-search">
                        <svg class="svg-icon gt_ic-search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" width="20" height="20" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M9.16667 2.5C5.48477 2.5 2.5 5.48477 2.5 9.16667C2.5 12.8486 5.48477 15.8333 9.16667 15.8333C12.8486 15.8333 15.8333 12.8486 15.8333 9.16667C15.8333 5.48477 12.8486 2.5 9.16667 2.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M17.5 17.5L15.6875 15.6875L13.875 13.875L17.5 17.5Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </li>
              
              
                <li class="gt_cart">
                    <a class="gt_show-cart" href="/cart" data-cart>
                        <svg class="svg-icon gt_ic-shopping-cart " xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M2 2H4.90909L6.85818 12.2019C6.99544 12.9259 7.60828 13.4427 8.31273 13.4286H15.3818C16.0863 13.4427 16.6991 12.9259 16.8364 12.2019L18 5.80952H5.63636" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M7.81834 16.4763C7.41668 16.4763 7.09106 16.8174 7.09106 17.2382C7.09106 17.659 7.41668 18.0001 7.81834 18.0001C8.22 18.0001 8.54561 17.659 8.54561 17.2382C8.54561 16.8174 8.22 16.4763 7.81834 16.4763Z" stroke="currentColor" stroke-width="1.5"/>
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8183 16.4763C15.4167 16.4763 15.0911 16.8174 15.0911 17.2382C15.0911 17.659 15.4167 18.0001 15.8183 18.0001C16.22 18.0001 16.5456 17.659 16.5456 17.2382C16.5456 16.8174 16.22 16.4763 15.8183 16.4763Z" stroke="currentColor" stroke-width="1.5"/>
                        </svg>
                        <span class="gt_cart-count">{{ cart.item_count }}</span>
                    </a>
                </li>
            </ul>
          </div>
            
              <div class="gt_nav-search">
              <div class="gt_nav-search-overlay">
                <div class="gt_nav-search-container">
                    <form action="/search" method="get" class="gt_search-form" role="search" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" maxlength="250">
                        <div class="gt_inputGroup">
                        <a class="gt_svg-icon">
                            <svg width="30px" height="30px" viewBox="0 0 20 20">
                                <path d="M19.129,18.164l-4.518-4.52c1.152-1.373,1.852-3.143,1.852-5.077c0-4.361-3.535-7.896-7.896-7.896
                                    c-4.361,0-7.896,3.535-7.896,7.896s3.535,7.896,7.896,7.896c1.934,0,3.705-0.698,5.078-1.853l4.52,4.519
                                    c0.266,0.268,0.699,0.268,0.965,0C19.396,18.863,19.396,18.431,19.129,18.164z M8.567,15.028c-3.568,0-6.461-2.893-6.461-6.461
                                    s2.893-6.461,6.461-6.461c3.568,0,6.46,2.893,6.46,6.461S12.135,15.028,8.567,15.028z">
                                </path>
                            </svg>
                        </a>
                        <input type="hidden" name="type" value="product">
                        <input class="gt_nav-search-input" required="required" name="q" type="search" placeholder="Search our store" value>
                        </div>
                    </form>
                    <div id="search-results" class="results"></div>
                </div>
            </div>
            </div>
            
          </div>
            
        </div></header>
     </div>
     <div class="gt_menu-mobile">
        <div id="navbar" class="navbar-collapse collapse">
           <ul class="nav navbar-nav">
              
              
              
              
              
              
              <li class="active gt_dropdown">
                 
                 
                  
                 
                 <div class="gt_menu-link">
                   
                     <a class="gt_menu_name" href="/pages/about">
                   
                      WHY UNPILLOW
                    
                      </a>
                    
                    
                  </div>
                 
              </li>
              
              
              
              
              <li class="active gt_dropdown">
                 
                 
                  
                 
                 <div class="gt_menu-link">
                   
                     <a class="gt_menu_name" href="/pages/about">
                   
                      REVIEWS
                    
                      </a>
                    
                    
                  </div>
                 
              </li>
              
              
              
              
              <li class="active gt_dropdown">
                 
                 
                  
                 
                 <div class="gt_menu-link">
                   
                     <a class="gt_menu_name" href="/collections/unpillow">
                   
                      SHOP
                    
                      </a>
                    
                    
                  </div>
                 
              </li>
              
              
           </ul>
           <div class="gt_account">
              
           </div>
        </div>
        <div class="gt_header_currency_mobi">
            <div hook-currency="true"></div>
        </div>
     </div>
     
     
  </section>
