
<section class="gt_section-403608" data-name="Video Background">
	<div class="gt_videoBackground">
		<div class="gt_content">
			<div class="vb_overlay">
			</div>
			<div class="content">
				<h3 class="heading">
          GO FORTH & BE FABULOUS!
				</h3>
				<p class="message">
					BIG DISCOUNT UP TO 50%
				</p>
				
				<div class="box-button">
					<a href="#" class="button">
            SHOP NOW
					</a>
				</div>
				
			</div>
		</div>
		<div class="gt_video tv">
      <iframe id="player" class="screen videoURL" frameborder="0" allow="loop; muted; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen"></iframe>
		</div>
	</div>
</section>

<section class="gt_section-403288" data-name="Gallery Product">
  <div class="gt_collection">
      <div class="gt_container">
          <div class="gt_flex gt_collection_content">
              <div class="gt_collection_item gt_item_left">
                <a href="/products/unpillow-premium">
                  <div class="gt_item_img">
                    <div class="gt_items gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0281/3971/6694/t/3/assets/RJMthNsQoW-e8a5a028e033f35c7b0ea711533baa70_original-jpg_100x.jpg')" alt="headingText"></div>
                  </div>
                  
                  <p>
                    unPillow Premium
                  </p>
                  
                </a>
              </div>
              <div class="gt_collection_item gt_item_right">
                <div class="gt_item_right_item">
                  <a href="/products/leg-wedge">
                    <div class="gt_item_img">
                      <div class="gt_items gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0281/3971/6694/t/3/assets/wTnJodXvec-wedge-1-jpg_100x.jpg')" alt="headingText">
                    </div> 
                    </div>
                    
                    <p>
                      Leg Wedge
                    </p>
                    
                  </a>
                </div>
                <div class="gt_item_right_item">
                  <a href="/products/knee-pillow">
                    <div class="gt_item_img">
                      <div class="gt_items gt_lazyload" style=" background-image: url('https://cdn.shopify.com/s/files/1/0281/3971/6694/t/3/assets/syWMOpZhIs-hip-1-jpg_100x.jpg')" alt="headingText"></div>
                    </div>
                    
                    <p>
                      Knee Pillow
                    </p>
                    
                  </a>
                </div>
              </div>
          </div>
      </div>
  </div>
</section>



<section class="gt_section-403609" data-name="Testimonial">
    <div class="gt_testimonial">
       <div>
          <div class="gt_testimonial-content">
             <div class="gt_testimonial-head">
                <h3>What Others Said? 
                </h3>
             </div>
             <div class="owl-carousel gt_testimonial-carousel owl-loaded owl-drag">
               
                  
                  
                  <div class="item gt_testimonial-carousel--item" data-index="1">
                   <div class="gt_testimonial-carousel--badge">
                      <svg width="94" height="55" viewBox="0 0 94 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M73.8281 75.5859C66.1133 75.5859 60.2051 72.4121 56.1035 66.0645C52.6855 60.791 50.9766 54.1992 50.9766 46.2891C50.9766 36.2305 53.5156 27.2461 58.5938 19.3359C63.7695 11.3281 71.5332 4.88281 81.8848 0L84.668 5.41992C78.418 8.05664 73.0469 12.207 68.5547 17.8711C64.0625 23.4375 61.8164 29.1016 61.8164 34.8633C61.8164 37.3047 62.1094 39.4043 62.6953 41.1621C66.1133 38.5254 69.8242 37.207 73.8281 37.207C79.2969 37.207 83.8379 38.9648 87.4512 42.4805C91.1621 45.8984 93.0176 50.5371 93.0176 56.3965C93.0176 61.8652 91.1621 66.4551 87.4512 70.166C83.7402 73.7793 79.1992 75.5859 73.8281 75.5859ZM22.8516 75.5859C15.1367 75.5859 9.22852 72.4121 5.12695 66.0645C1.70898 60.791 0 54.1992 0 46.2891C0 36.2305 2.53906 27.2461 7.61719 19.3359C12.793 11.3281 20.5566 4.88281 30.9082 0L33.6914 5.41992C27.4414 8.05664 22.0703 12.207 17.5781 17.8711C13.0859 23.4375 10.8398 29.1016 10.8398 34.8633C10.8398 37.3047 11.1328 39.4043 11.7188 41.1621C15.0391 38.5254 18.75 37.207 22.8516 37.207C28.2227 37.207 32.7637 38.9648 36.4746 42.4805C40.1855 45.8984 42.041 50.5371 42.041 56.3965C42.041 60.0098 41.1621 63.2812 39.4043 66.2109C37.6465 69.1406 35.3027 71.4355 32.373 73.0957C29.4434 74.7559 26.2695 75.5859 22.8516 75.5859Z" fill="#F0F0F0"/>
                      </svg>
                   </div>
                   <div class="gt_testimonial-carousel--desc">
                     
                      <p class="gt_testimonial_desc" data-index="0">The shirts look wonderful! Please pass along my thanks to your team and of course yourself before jumping on the project and doing such a great job. The can do attitude at champion is consistent and obvious. Thank you!
                      </p>
                   </div>
                   
                   <div class="gt_flex">
                     
                    
                       
                        
                        <div data-index="0" class="gt_testimonial-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/0slNT2o.jpg')">
                        </div>
                        
                      
                      
                      <div class="gt_flex gt_flex-column gt_justify-c-center">
                        
                         <span class="gt_testimonial-carousel--name" data-index="0">Jack London
                         </span>
                         
                        
                         <div class="gt_testimonial-rating">
                            
                            <div class="gt_testimonial-star">
                              
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                             </div>
                            <div class="gt_testimonial-star" style="width: 90%">
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                    
                  
                  
                  <div class="item gt_testimonial-carousel--item" data-index="1">
                   <div class="gt_testimonial-carousel--badge">
                      <svg width="94" height="55" viewBox="0 0 94 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M73.8281 75.5859C66.1133 75.5859 60.2051 72.4121 56.1035 66.0645C52.6855 60.791 50.9766 54.1992 50.9766 46.2891C50.9766 36.2305 53.5156 27.2461 58.5938 19.3359C63.7695 11.3281 71.5332 4.88281 81.8848 0L84.668 5.41992C78.418 8.05664 73.0469 12.207 68.5547 17.8711C64.0625 23.4375 61.8164 29.1016 61.8164 34.8633C61.8164 37.3047 62.1094 39.4043 62.6953 41.1621C66.1133 38.5254 69.8242 37.207 73.8281 37.207C79.2969 37.207 83.8379 38.9648 87.4512 42.4805C91.1621 45.8984 93.0176 50.5371 93.0176 56.3965C93.0176 61.8652 91.1621 66.4551 87.4512 70.166C83.7402 73.7793 79.1992 75.5859 73.8281 75.5859ZM22.8516 75.5859C15.1367 75.5859 9.22852 72.4121 5.12695 66.0645C1.70898 60.791 0 54.1992 0 46.2891C0 36.2305 2.53906 27.2461 7.61719 19.3359C12.793 11.3281 20.5566 4.88281 30.9082 0L33.6914 5.41992C27.4414 8.05664 22.0703 12.207 17.5781 17.8711C13.0859 23.4375 10.8398 29.1016 10.8398 34.8633C10.8398 37.3047 11.1328 39.4043 11.7188 41.1621C15.0391 38.5254 18.75 37.207 22.8516 37.207C28.2227 37.207 32.7637 38.9648 36.4746 42.4805C40.1855 45.8984 42.041 50.5371 42.041 56.3965C42.041 60.0098 41.1621 63.2812 39.4043 66.2109C37.6465 69.1406 35.3027 71.4355 32.373 73.0957C29.4434 74.7559 26.2695 75.5859 22.8516 75.5859Z" fill="#F0F0F0"/>
                      </svg>
                   </div>
                   <div class="gt_testimonial-carousel--desc">
                     
                      <p class="gt_testimonial_desc" data-index="1">The t-shirt was delivered in just 2 days, everything just perfect.Customers service reply me instantly when I want to roll back my design. I earn real money from my own design, what a fantastic way. Awesome!
                      </p>
                   </div>
                   
                   <div class="gt_flex">
                     
                    
                       
                        
                        <div data-index="1" class="gt_testimonial-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/Er0QyhU.png')">
                        </div>
                        
                      
                      
                      <div class="gt_flex gt_flex-column gt_justify-c-center">
                        
                         <span class="gt_testimonial-carousel--name" data-index="1">Marry Jane
                         </span>
                         
                        
                         <div class="gt_testimonial-rating">
                            
                            <div class="gt_testimonial-star">
                              
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                             </div>
                            <div class="gt_testimonial-star" style="width: 96%">
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                    
                  
                  
                  <div class="item gt_testimonial-carousel--item" data-index="1">
                   <div class="gt_testimonial-carousel--badge">
                      <svg width="94" height="55" viewBox="0 0 94 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M73.8281 75.5859C66.1133 75.5859 60.2051 72.4121 56.1035 66.0645C52.6855 60.791 50.9766 54.1992 50.9766 46.2891C50.9766 36.2305 53.5156 27.2461 58.5938 19.3359C63.7695 11.3281 71.5332 4.88281 81.8848 0L84.668 5.41992C78.418 8.05664 73.0469 12.207 68.5547 17.8711C64.0625 23.4375 61.8164 29.1016 61.8164 34.8633C61.8164 37.3047 62.1094 39.4043 62.6953 41.1621C66.1133 38.5254 69.8242 37.207 73.8281 37.207C79.2969 37.207 83.8379 38.9648 87.4512 42.4805C91.1621 45.8984 93.0176 50.5371 93.0176 56.3965C93.0176 61.8652 91.1621 66.4551 87.4512 70.166C83.7402 73.7793 79.1992 75.5859 73.8281 75.5859ZM22.8516 75.5859C15.1367 75.5859 9.22852 72.4121 5.12695 66.0645C1.70898 60.791 0 54.1992 0 46.2891C0 36.2305 2.53906 27.2461 7.61719 19.3359C12.793 11.3281 20.5566 4.88281 30.9082 0L33.6914 5.41992C27.4414 8.05664 22.0703 12.207 17.5781 17.8711C13.0859 23.4375 10.8398 29.1016 10.8398 34.8633C10.8398 37.3047 11.1328 39.4043 11.7188 41.1621C15.0391 38.5254 18.75 37.207 22.8516 37.207C28.2227 37.207 32.7637 38.9648 36.4746 42.4805C40.1855 45.8984 42.041 50.5371 42.041 56.3965C42.041 60.0098 41.1621 63.2812 39.4043 66.2109C37.6465 69.1406 35.3027 71.4355 32.373 73.0957C29.4434 74.7559 26.2695 75.5859 22.8516 75.5859Z" fill="#F0F0F0"/>
                      </svg>
                   </div>
                   <div class="gt_testimonial-carousel--desc">
                     
                      <p class="gt_testimonial_desc" data-index="2">Thank you for working so hard on our behalf. I am personally so excited to share this Tshirt with the visiting team. How cool for them to return to their homeland that embodies Memphis!
                      </p>
                   </div>
                   
                   <div class="gt_flex">
                     
                    
                       
                        
                        <div data-index="2" class="gt_testimonial-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/VnbitUs.png')">
                        </div>
                        
                      
                      
                      <div class="gt_flex gt_flex-column gt_justify-c-center">
                        
                         <span class="gt_testimonial-carousel--name" data-index="2">Mark
                         </span>
                         
                        
                         <div class="gt_testimonial-rating">
                            
                            <div class="gt_testimonial-star">
                              
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                             </div>
                            <div class="gt_testimonial-star" style="width: 76%">
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                    
                  
                  
                  <div class="item gt_testimonial-carousel--item" data-index="1">
                   <div class="gt_testimonial-carousel--badge">
                      <svg width="94" height="55" viewBox="0 0 94 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                         <path d="M73.8281 75.5859C66.1133 75.5859 60.2051 72.4121 56.1035 66.0645C52.6855 60.791 50.9766 54.1992 50.9766 46.2891C50.9766 36.2305 53.5156 27.2461 58.5938 19.3359C63.7695 11.3281 71.5332 4.88281 81.8848 0L84.668 5.41992C78.418 8.05664 73.0469 12.207 68.5547 17.8711C64.0625 23.4375 61.8164 29.1016 61.8164 34.8633C61.8164 37.3047 62.1094 39.4043 62.6953 41.1621C66.1133 38.5254 69.8242 37.207 73.8281 37.207C79.2969 37.207 83.8379 38.9648 87.4512 42.4805C91.1621 45.8984 93.0176 50.5371 93.0176 56.3965C93.0176 61.8652 91.1621 66.4551 87.4512 70.166C83.7402 73.7793 79.1992 75.5859 73.8281 75.5859ZM22.8516 75.5859C15.1367 75.5859 9.22852 72.4121 5.12695 66.0645C1.70898 60.791 0 54.1992 0 46.2891C0 36.2305 2.53906 27.2461 7.61719 19.3359C12.793 11.3281 20.5566 4.88281 30.9082 0L33.6914 5.41992C27.4414 8.05664 22.0703 12.207 17.5781 17.8711C13.0859 23.4375 10.8398 29.1016 10.8398 34.8633C10.8398 37.3047 11.1328 39.4043 11.7188 41.1621C15.0391 38.5254 18.75 37.207 22.8516 37.207C28.2227 37.207 32.7637 38.9648 36.4746 42.4805C40.1855 45.8984 42.041 50.5371 42.041 56.3965C42.041 60.0098 41.1621 63.2812 39.4043 66.2109C37.6465 69.1406 35.3027 71.4355 32.373 73.0957C29.4434 74.7559 26.2695 75.5859 22.8516 75.5859Z" fill="#F0F0F0"/>
                      </svg>
                   </div>
                   <div class="gt_testimonial-carousel--desc">
                     
                      <p class="gt_testimonial_desc" data-index="3">I just wanted to thank you for working with us to obtain a discounted rate for our organization. The savings helped tremendously this summer. Thanks again!
                      </p>
                   </div>
                   
                   <div class="gt_flex">
                     
                    
                       
                        
                        <div data-index="3" class="gt_testimonial-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/ztY36k5.jpg')">
                        </div>
                        
                      
                      
                      <div class="gt_flex gt_flex-column gt_justify-c-center">
                        
                         <span class="gt_testimonial-carousel--name" data-index="3">Anna
                         </span>
                         
                        
                         <div class="gt_testimonial-rating">
                            
                            <div class="gt_testimonial-star">
                              
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                                <span>
                                  <svg aria-hidden="true" focusable="false" data-prefix="fal" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M528.1 171.5L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6zM405.8 317.9l27.8 162L288 403.5 142.5 480l27.8-162L52.5 203.1l162.7-23.6L288 32l72.8 147.5 162.7 23.6-117.7 114.8z" class=""/></svg>
                                
                                </span>
                               
                             </div>
                            <div class="gt_testimonial-star" style="width: 100%">
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                                <span>
                                  <svg color="#FFD54F" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" class="svg-inline--fa fa-star fa-w-18 fa-2x"><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z" class=""/></svg>
                                </span>
                              
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                    
                    

                
             </div>
          </div>
       </div>
    </div>
    
 </section>

<section class="gt_section-403610 " data-name="Partner">
    <div class="partner">
        <div class="gt_container">
            <div id="owlCarousel" class="owl-carousel owl-theme slide_partner">
              
                  
                  <div class="item" data-index="0">
                    
                    
                    <div data-index="0" class="gt_partner-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/voQE0Zs.png')" alt="Partner"></div>
                  </div>
               
                  
                  <div class="item" data-index="1">
                    
                    
                    <div data-index="1" class="gt_partner-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/0QGxZWF.png')" alt="Partner"></div>
                  </div>
               
                  
                  <div class="item" data-index="2">
                    
                    
                    <div data-index="2" class="gt_partner-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/iGPST4s.png')" alt="Partner"></div>
                  </div>
               
                  
                  <div class="item" data-index="3">
                    
                    
                    <div data-index="3" class="gt_partner-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/BGY9i3A.png')" alt="Partner"></div>
                  </div>
               
                  
                  <div class="item" data-index="4">
                    
                    
                    <div data-index="4" class="gt_partner-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/BJeQFkm.png')" alt="Partner"></div>
                  </div>
               
                  
                  <div class="item" data-index="5">
                    
                    
                    <div data-index="5" class="gt_partner-carousel--image gt_lazyload" style=" background-image: url('https://i.imgur.com/voQE0Zs.png')" alt="Partner"></div>
                  </div>
               
            </div>
        </div>
    </div>
</section>

<section class="gt_section-403611 gt_animation-zoom-in-up gt_animatable" data-name="Video Banner">
  <div class="gt_videoBanner">
    <div class="gt_container">
      
      <div class="gt_content gt_flex gt_align-i-center ">
        <div class="vb_section vb_content vb_sectionLeft">
          <h3 class="heading">
            Samantha's Journey
          </h3>
          <p class="message">
            All about the dozens of pillows she's tried and the awful pain sleeping
          </p>

        </div>
        <div class="vb_section vb_video gt_content">
          <div class="gt_contentVideo">
            <div class="gt_video">
              <iframe id="player403611" class="screen videoURL" width="100%" frameborder="0" allow="loop; muted; accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture; fullscreen" allowfullscreen>
              </iframe>
              <button class="gt_play_vd">
                <span>
                  <svg width="64" height="64" viewBox="0 0 64 64" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle opacity="0.8" cx="32" cy="32" r="32" fill="#ECECEC"/>
                    <path d="M42.6168 30.8427L27.2168 18.7427C26.7768 18.4127 26.1902 18.3393 25.6768 18.5593C25.1635 18.816 24.8335 19.3293 24.8335 19.8793V44.0794C24.8335 44.6294 25.1635 45.1427 25.6768 45.3994C25.8968 45.5094 26.1168 45.546 26.3002 45.546C26.6302 45.546 26.9602 45.436 27.2168 45.216L42.6168 33.116C42.9835 32.8227 43.1668 32.4193 43.1668 31.9793C43.1668 31.5393 42.9468 31.0993 42.6168 30.8427ZM27.7668 41.0727V22.886L39.3168 31.9793L27.7668 41.0727Z" fill="#6D6D6D"/>
                  </svg>
                </span>
              </button>
              <!-- <button id="pause" style="position: relative">Pause</button> -->
              <div class="overlay gt_lazyload" style=" background-image: url('https://d3dfaj4bukarbm.cloudfront.net/staging/images/admin/d9585b30-f5c1-4fa6-b0c0-d15c89ebc1ef.png')">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
