@media (min-width: 1100px){
    #r-1589495881850 {
        margin-top: -770px !important;
       
    }
}

@media (min-width: 1200px){
    #r-1589495881850 {
        margin-top: -810px !important;
       
    }
}

@media (min-width: 1300px){
    #r-1589495881850 {
        margin-top: -860px !important;
       
    }
}

@media (min-width: 1400px){
    #r-1589495881850 {
        margin-top: -900px !important;
       
    }
}

@media (min-width: 1500px){
    #r-1589495881850 {
        margin-top: -930px !important;
       
    }
}

@media (min-width: 1600px){
    #r-1589495881850 {
        margin-top: -980px !important;
       
    }
}


