
<section class="gt_section-409155 " data-name="Banner Parallax">
    <div class="hero_banner">
        <div class="hero_banner_image gt_lazyload" style=" background-image: url('https://cdn.gemthemes.net/production/placeholders/collection-2.svg')" alt="headingText">
        </div>
        <div class="gt_container">
              <div class="gt_flex gt_flex-column hero_banner_body">
               
                  <div class="gt_flex gt_flex-column hero_banner_content">
                    
                      <h2>
                      SIGN UP FOR 50% OFF THIS SUMMER
                      </h2>
                     
                      
                     
                      <h3>
                      FOR NEW MEMBER ONLY
                      </h3>
                      
                  </div>
                 
                  
                  <a class="gt_btn-URL" href="#">
                  <button class="btn-submit-banner" type="submit">
                  SIGN UP NOW
                  </button>
                  </a>
                  
              </div>
          </div>
    </div>
</section>

<section class="gt_section-409156" data-name="Our Story">
  <div class="gt_container">
    <div class="gt_outstory">
      
      <p class="gt_outstory_title">
        Out Story
      </p>
      
      
      <p class="gt_outstory_message">
        Made with the passion for the outdoors activities and camping, out product is quality guaranteed. We understand that sometimes, our tent or sleep bag can safe your life on your trip, and we appreciate the love you gave to our brand. EcomSolid is a young brand, but we have experts about mountain, about snow, about travel and about passion.
      </p>
      
    </div>
  </div>
</section>


<section class="gt_section-409158 " data-name="About Us">
  <div class="gt_about_us">
    <div class="gt_container">
      <div class="gt_about_headding">
        About <b>SolidShoe</b>
      </div>
      <div class="gt_about_body">
        <div class="gt_about_img">
          <img class="gt_lazyload" src="https://cdn.gemthemes.net/production/placeholders/collection-1.svg" alt="Banner">
        </div>
        <div class="gt_about_content">
          
            <p class="gt_about_message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
        </div>
      </div>
      <div class="gt_about_body">
        <div class="gt_about_content gt_about_content_mobi">
          
            <p class="gt_about_message">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          
        </div>
        <div class="gt_about_img gt_about_img_mobi">
          <img class="gt_lazyload" src="https://cdn.gemthemes.net/production/placeholders/collection-1.svg" alt="Banner">
        </div>
      </div>
    </div>
  </div>
</section>

